@import 'nib'

// text-shadow:[颜色(Color)  x轴(X Offset) y轴(Y Offset) 模糊半径(Blur)],[颜色(color) x轴(X Offset) y轴(Y Offset) 模糊半径(Blur)]..
// 或者：[x轴(X Offset) y轴(Y Offset)  模糊半径(Blur)  颜色(Color)],[x轴(X Offset) y轴(Y Offset)  模糊半径(Blur)  颜色(Color)]...
// IE兼容：filter:shadow(Color=颜色值,Direction=数值,Strength=数值)Direction投影主向，strength强度

.shadow
  background #ccc
  width 440px
  padding 30px
  color #fff
  text-transform uppercase
  font bold 55px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans
  
.textShadow1
  text-shadow red 2px 2px 2px
.textShadow2
  text-shadow 0 0 20px red
.textShadow3
  text-shadow 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de
.textShadow4
  color #000
  text-shadow 0 1px 1px #fff
.textShadow5
  color #ccc
  text-shadow -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444
.textShadow6
  color transparent
  text-shadow 0 0 5px #f96
.textShadow7
  color transparent
  text-shadow 0 0 6px #f96,-1px -1px 0 #fff,1px -1px 0 #444
// 文字的前景色要比背景色暗，阴影颜色稍比背景色亮一点点，这一步很重要，如果阴影色太亮看起来会怪，如果太暗将没有效果显示
.textShadow8
  color #566F89
  background #C5DFF8
  text-shadow 1px 1px 0 #E4F1FF
// 运用两个阴影，第一个向左上投影，而第二向右下投影，还需注意，制作描边的阴影效果我们不使用模糊值
.textShadow9
  text-shadow 1px 1px 0 red, -1px -1px 0 red
// 每一个层向左上或右下方向移动一个1px距离，从而制作出3D效果
.textShadow10
  text-shadow 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8)
.textShadow11
  text-shadow -1px -1px rgba(197, 223, 248,0.8),-2px -2px rgba(197, 223, 248,0.8),-3px -3px rgba(197, 223, 248,0.8),-4px -4px rgba(197, 223, 248,0.8),-5px -5px rgba(197, 223, 248,0.8),-6px -6px rgba(197, 223, 248,0.8)
// 第一个阴影色和背景色相同；文本前景色和第二个阴影色相同
.textShadow12
  color #eee
  text-shadow 5px 5px 0 #666, 7px 7px 0 #eee
// 用css重新使用的文字阴影和文本前景的rgba色组合而成。在文本的前景色和阴影上同时使用rgba色，使底层的文字是通过影子可见
.textShadow13
  color rgba(255, 179, 140,0.5)
  text-shadow 3px 3px 0 rgba(180,255,0,0.5)
  



// box-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色
// 投影方式[可选]inset:内投影，默认外投影
// X-offset:正直，则阴影在右边，否则左边
// Y-offset:正值，则阴影在底部，否则顶部
// 阴影模糊半径[可选]：>=0
// 阴影扩展半径[可选]:正值则延展扩大，否则缩小
// IE兼容：filter: progid:DXImageTransform.Microsoft.Shadow(color=’颜色值’, Direction=阴影角度（数值）, Strength=阴影半径（数值）);要配合background一起使用，或者加载jquery.boxshadow.js插件
.boxShadow1
  box-shadow -2px 0 0 green, 0 -2px 0 blue, 0 2px 0 red, 2px 0 0 yellow
// 多层次阴影时，如果前面的阴影模糊值小于后面的阴影模糊值，那么前面的显示在后面之上，如果前面阴影的模糊值大于后面的阴影模糊值，那么前面的阴影将遮住后面的阴影效果
.boxShadow2
  box-shadow 0 0 5px red,0 0 15px blue
.boxShadow3
  box-shadow 0 0 15px red,0 0 5px blue
.boxShadow4
  box-shadow 0 0 15px rgba(255,0,0, 0.5)
// 可模拟边框，但比实际边框的div要低扩展半径的位置
.boxShadow5
  box-shadow 0 0 0 1px #000
.boxShadow6
  box-shadow inset 0 0 20px red
.boxShadow7
  position relative
  padding 0
  &:after
    content ' '
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    box-shadow inset 0 0 25px 1px red
// 给body底部增加一个阴影：为了不影响布局，top的取值最好和height的取值一致
body:before
  content ' '
  position fixed
  top -10px
  left 0
  width 100%
  height 10px
  z-index 999
  box-shadow 0 0 10px rgba(125,255,125,0.8)
// 我们通过box-shadow实现drop shadow效果是仅用一个div标签元素，然后配合其两个伪元素":before"和":after"；然后我们分别给其伪元素定位到div的后面，并把box-shadow应用到这两个伪元素上
.boxShadow9
  width 440px
  position relative
  background #ccc
  &:before,&:after
    content ' '
    position absolute
    z-index -1
    bottom 15px
    left 10px
    width 50%
    max-width 440px
    height 20%
    box-shadow 0 15px 10px rgba(125,125,125,0.8)
    transform rotate(-3deg)
  &:after
    right 10px
    left auto
    transform rotate(3deg)